snippet html5
	<!DOCTYPE html>
	<html>
		<body>
			${1}
		</body>
	</html>
snippet src
	<script src="${1:script.js}"></script>${2}
snippet jq
	<script src="http://code.jquery.com/jquery.js"></script>
snippet canvas
	<canvas id="${1:canvas}" width="${2:640}" height="${3:480}"></canvas>${4}
